<p>quote works!</p>


{{quoteArray.userName}}
{{quoteArray.quoteDescription}}
{{quoteArray.quoteAuthor}}
{{quoteArray.quoteDay}}
{{quoteArray.like}}
{{quoteArray.dislike}}

<form (ngSubmit)='onSubmit()' #quoteForm='ngForm'>
    
    <div class="form-group">

        <div>
            <label for="names">Enter your Name</label>
            <input type="text" name="names" id="names" #names='ngModel' [(ngModel)] = 'quoteArray.userName' >
        </div>
        
        <label for="text">Enter your Quote</label>

        <div>
            <textarea name="text" #text='ngModel' id="text" cols="30" rows="10" [(ngModel)] = 'quoteArray.quoteDescription'></textarea>
        </div>
        
        <label for="quote-author">Enter Name of the Quote Aurthor</label>

        <div>
            <input type="text" name="quote" #quote='ngModel' id="quote" [(ngModel)] = 'quoteArray.quoteAuthor'>
        </div>
        
    </div>
    <button type="submit" class="btn btn-success" >Add Quote</button>
</form>
