<p>quote works!</p>

{{breda.name}}

<form  >
    
    <div class="form-group">

        <label for="names">Enter your Name</label>

        <div>
            <input type="text" name="names" id="name" >
        </div>
        
        <label for="quote">Enter your Quote</label>

        <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        
        <label for="quote-author">Enter your Name</label>

        <div>
            <input type="text" name="quote-author" id="name">
        </div>
        
    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
</form>
